@import 'lib/mixins';
h3
{
  font-size: 18px;
  font-weight: bold;
}

.btn
{

  border-radius: 74px !important;
}

.row
{
  clear: both;
}

h4
{
  font-size: 100%;
  font-weight: normal;
  display: table-cell;
  padding-bottom: 4px;
  

  border-bottom: 2px solid white;
  &:after{

    content: "";
    width: 100%;
    display: table-cell;

  }
}
@include keyframe(bounce-circle){
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    background-color: #111;
  }
  100% {
    opacity:0.3;

  }
}
.totalScreams
{
  position: relative;
  top: -30px;
  font-size: 12px;

}

.waitingAnimation {
  width: 69px;
  .circle{
    background-color:#CCC;
    float:left;
    height:15px;
    margin-left:8px;
    width:15px;
    border-radius:10px;
    @include animation(0s, 1.5s, bounce-circle);
    @include animation-direction(linear);
    @include animation-iteration-count(infinite);
    opacity:0.3;
  }
  .circle-1{
   @include animation-delay(.3s);

 }
 .circle-2{
  @include animation-delay(.7s);
}
.circle-3{
  @include animation-delay(.9s);
}



}

