	

@import '../../lib/mixins';
@include keyframe(up-and-down){
	0% {
		@include transform(translateY(-10px));
	}

	

	100% {
		@include transform(translateY(10px));

	}
}



.record-hint
{
	@include animation(0s, .5s,up-and-down);
	@include animation-direction(alternate);
	@include animation-iteration-count(infinite);
	
	font-size: 90px;
	color: #C73232;
	text-shadow: 2px 2px 8px #999;
	z-index: 10000;
	display: block;



	&.js-left
	{
			position: absolute;
			left: 0px;
	}
	&.js-right
	{
			position: absolute;
			right: 0px
	}



}
