.admin
{
	
	.screamList
	{
		text-align: left;
		li
		{
			
			border-bottom: 1px dashed #333;
			table
			{
				td, th
				{
					vertical-align: top;
				}
				min-height: 300px;
				th{
					padding-right: 12px;
					text-align: left;
					
				}
				margin-bottom: 12px;
			}
			padding-top: 24px;
			padding-bottom: 24px;

			.actions
			{
				padding-top: 12px;
			}
		}

	}
}